.card,
.cards-row {
  margin: 1rem;
  border: 1px solid black;
}

.card {
  display: inline-block;
}

.cards-row {
}

.card-row {
  
}

.sidebar {
  border: 1px solid black;
}

#root {
  display: flex;
}
